:root {
  --margin-default: 8px;
  --margin-dense: 0;

  --margin: var(--margin-default);
}

.v-treeview .v-treeview-item {
  margin-top: var(--margin) !important;
  margin-bottom: var(--margin) !important;
}
