::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ECEFF1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #777777;
  border-radius: 4px;
}

::selection {
  background: #777777;
  color: #ECEFF1 !important;
}
