::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ffffff !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0074cf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #0074cf;
  border-radius: 4px;
}

::selection {
  background: #0074cf;
  color: #ffffff;
}
